/*!  POST SINGLE
----------------------------------------------------------*/

.vlt-post-single
	.vlt-post-footer
		margin-top 50px
		display flex
		justify-content space-between
	.vlt-post-content
		padding-bottom 15px