/*!  SHORTCODE SERVICES
----------------------------------------------------------*/

.vlt-services.top
	text-align center
	.vlt-services-icon + .vlt-services-content
		margin-top 15px

.vlt-services.left
	.vlt-services-icon
		float left

.vlt-services.right
	.vlt-services-icon
		float right
	.vlt-services-content
		text-align right

.vlt-services .vlt-services-content
	.vlt-services-title
		margin-bottom 15px
		line-height 1
		text-transform uppercase
		letter-spacing 2px
	.vlt-services-description
		margin 0

.vlt-services
	.vlt-services-icon i
		font-size 42px
		line-height 42px
		color $c0


	@media (max-width: 767px)
		margin-bottom 30px